# version control
.gitignore
.git/
!.git/HEAD
!.git/refs/heads/*

# docs
doc/
*.md
*.txt

# local development
.clj-kondo/
dev/
test/
deps.edn
tests.edn

# build files
.circleci/
dist/
target/
Makefile
cljstyle
