{:linters {:unresolved-symbol
           {:exclude [(cljstyle.test-util/capture-io [stdout stderr])
                      (clojure.test/is [thrown-with-data? valid? invalid?])]}

           :consistent-alias
           {:level :warning
            :aliases {cljstyle.format.zloc zl
                      clojure.java.io io
                      clojure.spec.alpha s
                      clojure.set set
                      clojure.string str
                      clojure.zip zip
                      rewrite-clj.node n
                      rewrite-clj.parser parser
                      rewrite-clj.zip z}}}

 :lint-as {cljstyle.test-util/with-files clojure.core/let}}
